html, body {
    min-height: 100%;
    min-width: 100%;
}
#gameBoardContainer {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    height: 60%;
    width: 60%;
}
.grids {
    min-height: 15rem;
    min-width: 15rem;
    font-size: 5rem;
}